* {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

nav {
  max-width: 100%;
  height: 80px;
  z-index: 999999999;
}

#navbarNavAltMarkup {
  margin-left: 226px;
  font-size: 22px;
  font-weight: normal;
}

.jumbohome {
  width: 100%;
  height: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999999999;
  margin-top: 100px;
}

.jumbohome h1 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 50px;
  text-align: left;
  color: white;
  z-index: 999;
  position: absolute;
  margin-top: 150px;
  margin-left: 20px;
}

.jumbohome h1 span {
  display: inline-block;
  color: #7096BD;
  z-index: 999;
}

.jumbohome .image {
  width: 100%;
  height: 500px;
  margin-top: 10px;
}

.jumbohome .image img {
  width: 100%;
  height: 580px;
}

.himbauan {
  margin-top: -100px;
  max-width: 100%;
  height: 751px;
  background-color: #56CFE1;
  padding-top: 100px;
}

.himbauan .kotak-himbauan {
  width: 100%;
  height: 578px;
  background-color: white;
  border-radius: 34px;
  width: 1088px;
  -webkit-box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
}

.himbauan .kotak-himbauan .image-himbauan {
  max-width: 750px !important;
  max-height: 500px !important;
  margin: auto !important;
}

.himbauan .kotak-himbauan .image-himbauan img {
  max-width: 100%;
  max-height: 100%;
}

.himbauan .kotak-himbauan .btn-pre,
.himbauan .kotak-himbauan .btn-next {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 255px;
  -webkit-filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.16));
}

.himbauan .kotak-himbauan .btn-pre i,
.himbauan .kotak-himbauan .btn-next i {
  display: inline-block;
  color: #7096BD;
}

.himbauan .kotak-himbauan .btn-pre {
  margin-left: 76px;
}

.himbauan .kotak-himbauan .btn-next {
  margin-right: 76px;
}

.coronavirus {
  width: 100%;
  padding-top: 96px;
}

.coronavirus h1 span {
  color: #56CFE1;
}

.coronavirus .image-coronavirus {
  margin-left: 139px;
  margin-right: 80px;
  overflow: hidden;
}

.coronavirus .image-coronavirus img {
  margin-left: -300px;
  width: 0px;
  height: 0px;
}

.coronavirus .kotak {
  width: 100%;
  border-top-left-radius: 56px;
  border-bottom-left-radius: 56px;
  margin-top: 96px;
  background: #fff;
  -webkit-box-shadow: -9px 9px 6px rgba(0, 0, 0, 0.16);
          box-shadow: -9px 9px 6px rgba(0, 0, 0, 0.16);
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.coronavirus .kotak p {
  font-family: Rubik;
  font-weight: 500;
  font-size: 22px;
  text-align: left;
  color: #7f8485;
  margin-left: 200px;
  display: none;
}

.cek-covid {
  background-color: #56CFE1;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 50px;
}

.cek-covid .kotak {
  width: 100%;
  margin-top: 60px;
  border-radius: 56px;
  -webkit-box-shadow: -1px -1px 17px 0px rgba(0, 0, 0, 0.48);
          box-shadow: -1px -1px 17px 0px rgba(0, 0, 0, 0.48);
  padding-top: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

.cek-covid h1 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  color: #7f8485;
}

.cek-covid h1 span {
  color: #56CFE1;
}

.cek-covid h5 {
  font-family: Rubik;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  color: #7096bd;
}

.cek-covid button {
  border-radius: 33px;
  background: #fff;
  opacity: 0.9;
  -webkit-box-shadow: 0px 11px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 11px 6px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
  margin-bottom: 50px;
}

.cek-covid button a {
  text-decoration: none;
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  color: #7f8485;
}

.cek-covid button:hover {
  background-color: white;
}

.cek-covid .info-kota {
  margin-top: 10px;
}

.cek-covid .info-kota h3 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: #7f8485;
}

.cek-covid .info-kota h5 {
  font-family: Rubik;
  font-weight: normal;
  font-size: 26px;
  text-align: left;
  color: #7f8485;
}

.cek-covid .info-kota .info {
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.cek-covid .himbau p {
  font-family: Rubik;
  font-weight: normal;
  font-size: 26px;
  text-align: center;
  color: #7f8485;
}

.cek-covid .himbau b {
  color: #56CFE1;
}

.data-covid {
  width: 100%;
  height: 987px;
}

.data-covid .btn-covid {
  width: 352px;
  height: 92px;
  border-radius: 46px;
  background: #fff;
  opacity: 0.9;
  -webkit-box-shadow: 0px 11px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 11px 6px rgba(0, 0, 0, 0.16);
  font-family: Rubik;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #7f8485;
  margin-top: 34px;
  margin-bottom: 180px;
}

.data-covid .btn-covid span {
  color: #7096bd;
}

.data-covid .data {
  width: 260px;
  height: 154px;
  padding-top: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.data-covid .data h1 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: #7f8485;
}

.data-covid .data h3 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 48px;
  text-align: left;
  color: #7096bd;
}

.data-covid .positif {
  border: 1px solid #2559e8;
}

.data-covid .dirawat {
  border: 1px solid #c10107;
}

.data-covid .sembuh {
  border: 1px solid #00ce22;
}

.data-covid .meninggal {
  border: 1px solid #1e1e1e;
}

.data-covid .btn-data {
  width: 344px;
  height: 42px;
  margin-top: 200px;
}

.data-covid .btn-data span {
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  color: #7f8485;
}

.data-covid .btn-data:hover span {
  color: white;
}

.protokol-kesehatan {
  width: 100%;
  height: 751px;
  background: #56cfe1;
}

.protokol-kesehatan .imgHimbauanProtokol {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.protokol-kesehatan .img-muncul {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.protokol-kesehatan h1 {
  font-family: Rubik;
  font-weight: 50px;
  font-size: 42px;
  text-align: center;
  color: #7f8485;
}

.protokol-kesehatan h1 span {
  font-weight: bold;
  font-size: 48px;
}

.protokol-kesehatan .protokolspan {
  font-family: Rubik;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #fff;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.protokol-kesehatan .spanmuncul {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.protokol-kesehatan span.masker {
  font-family: Rubik;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: #fff;
}

.poster {
  width: 100%;
  height: 1966px;
  margin-top: 123px;
}

.poster p {
  font-family: Poppins;
  font-weight: bold;
  font-size: 60px;
  text-align: left;
  color: #7F8485;
}

.poster p span {
  font-weight: normal;
  color: #7096bd;
}

.poster p.keluarga {
  font-size: 59px;
  font-weight: normal;
}

.poster h1 {
  font-family: Poppins;
  font-weight: normal;
  font-size: 60px;
  color: #7f8485;
}

.poster h1 span {
  color: #7096bd;
  font-weight: bold;
}

footer .footer {
  width: 100%;
  height: 246px;
  background: #56cfe1;
}

footer .footer img {
  margin-top: 10px;
  margin-left: -20px;
}

footer .footer h3 {
  margin-top: auto;
  margin-bottom: auto;
  font-family: Rubik;
  font-weight: 500;
  font-size: 32px;
  text-align: left;
  color: #fff;
  margin-top: -30px;
}

footer .footer ul {
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}

footer .footer ul a {
  color: #fff;
  text-decoration: none;
}

footer .footer span {
  display: inline-block;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 22px;
  text-align: left;
  color: #fff;
}

@-webkit-keyframes kiriKanan {
  0% {
    margin-left: -300;
    width: 0;
    height: 0;
  }
  100% {
    margin-left: 0;
    width: 444px;
    height: 444px;
  }
}

@keyframes kiriKanan {
  0% {
    margin-left: -300;
    width: 0;
    height: 0;
  }
  100% {
    margin-left: 0;
    width: 444px;
    height: 444px;
  }
}

@-webkit-keyframes kanankiri {
  0% {
    margin-left: 200px;
    display: none;
  }
  100% {
    margin-left: 0;
    display: block;
  }
}

@keyframes kanankiri {
  0% {
    margin-left: 200px;
    display: none;
  }
  100% {
    margin-left: 0;
    display: block;
  }
}

@media (max-width: 768px) {
  nav {
    z-index: 999999;
  }
  nav #navbarNavAltMarkup {
    background-color: #56CFE1;
    width: 1000px;
    margin-left: 0;
    width: 100%;
  }
  nav #navbarNavAltMarkup .navbar-nav {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .jumbohome {
    width: 100%;
    height: 695px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .jumbohome h1 {
    font-family: Rubik;
    font-weight: 500;
    font-size: 40px;
    text-align: left;
    color: white;
    z-index: 999;
    position: absolute;
    margin-top: 150px;
    margin-left: 20px;
  }
  .jumbohome h1 span {
    display: inline-block;
    color: #7096BD;
    z-index: 999;
  }
  .jumbohome .image {
    width: 100%;
    height: 500px;
    margin-top: 10px;
  }
  .jumbohome .image img {
    width: 100%;
    height: 580px;
  }
  .himbauan {
    margin-top: -100px;
    max-width: 100%;
    height: 551px;
    background-color: #56CFE1;
    padding-top: 100px;
  }
  .himbauan .kotak-himbauan {
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 34px;
    -webkit-box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
    margin-left: 10px;
  }
  .himbauan .kotak-himbauan .image-himbauan {
    max-width: 350px !important;
    max-height: 300px !important;
    margin: auto !important;
  }
  .himbauan .kotak-himbauan .image-himbauan img {
    max-width: 100%;
    max-height: 100%;
  }
  .himbauan .kotak-himbauan .btn-pre,
  .himbauan .kotak-himbauan .btn-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 155px;
    -webkit-filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.16));
            filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.16));
  }
  .himbauan .kotak-himbauan .btn-pre i,
  .himbauan .kotak-himbauan .btn-next i {
    display: inline-block;
    color: #7096BD;
    font-size: 6px;
  }
  .himbauan .kotak-himbauan .btn-pre {
    margin-left: 16px;
  }
  .himbauan .kotak-himbauan .btn-next {
    margin-right: 16px;
  }
  .coronavirus {
    padding-top: 39px;
  }
  .coronavirus img {
    width: 222px;
    height: 222px;
  }
  .coronavirus .kotak {
    height: auto;
    margin-top: -10px;
  }
  .coronavirus .kotak p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */